*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo
.ipynb_checkpoints
*/.ipynb_checkpoints/*
oprofile_data/

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
*.qlen
*.out
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

version.cache
